# Neon Postgres Database URL
# You can get this from your Neon dashboard when you create a new project.
# It should look something like: postgresql://[user]:[password]@[host]/[dbname]?sslmode=require
DATABASE_URL=
